@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1117;
  /* Deep Void Black */
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .neon-text-primary {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
  }

  .neon-border-primary {
    box-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14;
  }

  @keyframes scan {
    from {
      transform: translateY(-100vh);
    }

    to {
      transform: translateY(100vh);
    }
  }
}